<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Directory</title>
  </head>
  <body>
    <h1>Robot Directory</h1>
      <div class="robots">
        <div class="robot-profile">
          {{#users}}
            <img src="{{avatar}}" alt="">
            <h2>{{name}}</h2>
            <p>{{job}}, {{company}}</p>
          {{/users}}
        </div>

      </div>
    <li>{{name}}</li>
  </body>
</html>
